@page "/"
@inject NavigationManager NavigationManager;
@inject IStringLocalizer<Strings> Localizer;

<TreePageLayout Label="Menu"/>

<div style="width:50%; margin:auto">
	<button style="display:block; width:100%; margin-block:5px" class="btn-outline-dark" @onclick="NavigateToIntegrals">@Localizer["Integrals"]</button>
	<button style="display:block; width:100%; margin-block:5px" class="btn-outline-dark" @onclick="NavigateToMultipleIntegrals">@Localizer["MultipleIntegrals"]</button>
	<button style="display:block; width:100%; margin-block:5px" class="btn-outline-dark" @onclick="NavigateToElementaryFunctions">@Localizer["ElementaryFunctions"]</button>
</div>

@code { 
	private void NavigateToIntegrals() {
		NavigationManager.NavigateTo("integrals");
	}

	private void NavigateToMultipleIntegrals() {
		NavigationManager.NavigateTo("multiple-integrals");
	}

	private void NavigateToElementaryFunctions() {
		NavigationManager.NavigateTo("elementary-functions");
	}
}