@page "/integrals"
@inject NavigationManager NavigationManager;
@inject IStringLocalizer<Strings> Localizer;

<h3>@Localizer["Integrals"]</h3>

<h4>@Localizer["NumericalMethods"]</h4>
<div style="width:50%">
	<button style="display:block; width:100%; margin-block:5px" class="btn-outline-dark" @onclick="NavigateToLeftSideRectangles">@Localizer["LeftSideRectanglesIntegrals"]</button>
	<button style="display:block; width:100%; margin-block:5px" class="btn-outline-dark" @onclick="NavigateToRightSideRectangles">@Localizer["RightSideRectanglesIntegrals"]</button>
</div>

@code {
	void NavigateToLeftSideRectangles() 
	{
		NavigationManager.NavigateTo("integrals/left-side-rectangles");
	}

	void NavigateToRightSideRectangles()
	{
		NavigationManager.NavigateTo("integrals/right-side-rectangles");
	}
}