@page "/integrals/right-side-rectangles"
@inject NavigationManager NavigationManager;
@inject IStringLocalizer<Strings> Localizer;

<div>
	<h3 style="display:inline-block">@Localizer["RightSideRectanglesIntegrals"]</h3>
	<button class="btn-outline-dark" @onclick="NavigateBack">@Localizer["Back"]</button>
</div>

@code {
	void NavigateBack()
	{
		NavigationManager.NavigateTo("integrals");
	}
}
